*{
    list-style-type: none;
    text-decoration: none !important;
}
header{
    .header1{
        .box3{
            i{
                &:hover{
                    color: black;
                    cursor: pointer;
                }
            }
        }
    }
    .header2{
        nav{
            ul{  
                .li{

                    &:hover{
                        .hover{
                            animation: animation 0.8s forwards;
                            display: flex !important;
                            z-index: 100;
                        }
                    }
                    .hover{
                        ul{
                            li{
                                a{
                                    color: white !important;
                                }
                            }
                        }
                    }
                }              
                
            }
        }
    }
}
main{
    .container-fluid{
        .carousel{
          .carousel-inner{
            .active{
                .SpecialCasual{
                    position: absolute !important;
                    bottom: 420 !important;
                    left: -110 !important;

                }
            }
          }  
        }
    }
}

@keyframes animation {
    from{
        opacity: 0;
    }to{
        opacity: 1;

    }
}